<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="connectionstring" connectionString="DATA SOURCE=nat-sqldev.privatelink.database.windows.net;Database=webresultv.4_stage;PERSIST SECURITY INFO=True;USER ID=Nat_AdminDev;password=SQL_P@ssw0rd;Max Pool Size=700"/>
	</connectionStrings>
</configuration>